/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: Arial, Helvetica, sans-serif;
 }

 .header {
   display: inline-block;
   border-bottom: 2px solid black;
   padding-bottom: 2px;
   margin: 10px;
 }

.error-box {
  margin: 10px 0px;
  max-width: 500px;
  border: 2px solid red;
}

.text-box {
  height: 300px;
  width: 300px;
}

#submit-button {
  margin: 10px 0px;
  display: block;
}

.links {
  margin: 10px 0px;
}

.current-member-username {
  margin: 10px 0px;
}

.post-content {
  padding: 10px;
  border: solid 2px black;
  border-radius: 10px;
  max-width: 500px
}

.login-signup {
  margin: 10px;
}